* {
  font-family: "Noto Serif KR", "Noto Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;

  // font-family: "Noto Serif KR", "Noto Sans", sans-serif;
  // font-optical-sizing: auto;
  // font-weight: 400;
  // font-style: normal;
}

.title {
  font-size: 1.25rem;
  padding: 1rem 0;
}

.divider {
  color: $grey-6;
  margin: 1rem;
  border-bottom: 0.1rem dotted;
}

::-webkit-scrollbar {
  overflow: visible;
  width: 0.5rem;
  height: 0.5rem
}

::-webkit-scrollbar-thumb {
  background: $grey-6;
  border-radius: 0.5rem;
}

@font-face {
  font-family: 'Noto Serif KR';
  src: url('./fonts/NotoSerifKR-Regular.otf');
}

@font-face {
  font-family: 'Nanum Pen Script';
  src: url('./fonts/NanumPenScript-Regular.ttf');
}
