body {
  font-family: "Noto Serif KR", "Noto Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.title {
  color: $grey-9;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.divider {
  color: $grey-6;
  margin: 1rem;
  border-bottom: 0.1rem dotted;
}

.vertical {
  width: 0.1rem;
  height: 1.8rem;
  border-right: 0.1rem solid $grey-4;
}

.style {
  &-button {
    background-color: #fdfafa;
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  overflow: visible;
  width: 0.5rem;
  height: 0.5rem
}

::-webkit-scrollbar-thumb {
  background: $grey-6;
  border-radius: 0.5rem;
}

/* noto-serif-kr-regular - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/noto-serif-kr-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-kr-700 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/noto-serif-kr-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nanum-myeongjo-regular - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/nanum-myeongjo-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nanum-myeongjo-700 - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/nanum-myeongjo-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nanum-pen-script-regular - korean_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/nanum-pen-script-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* parisienne-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/parisienne-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Mapo Flower Island';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/MapoFlowerIslandA.woff') format('woff');
}